{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  
  <h1> Sobre Family Pets </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          Family Pets es la tienda online más completa para mascotas creada por
          pet lovers !. Somos la tienda en linea de mascotas con una
          variedad de productos y servicios a domicilio . Lo cual nosotros
          contamos con más de 5.000 productos (alimentos , medicinas , set
          para gatos , higiene y accesorios) .
        </p>

        <p>
            Nuestro emprendimiento es sin fines de lucro y estamos 24/7 en la
            mantecion de animales en peligro de maltrato . Siempre estamos
            prepcupados de su salud y bienestar para su mascota.
        </p>

        <p>
          Tanto tu mascota como las que escogemos son las imprtanantes para
          nosostros . Nos esforzamos cada dia a dia para dar lo mejor
          experiencia y serivicios, En chile llegamos a todo santiago sin costo adicional de envio, 
          y a regiones con un costo adicional minimo. 
          Hacemos entregas a tu domicilio y si pides antes de las 7pm te llegará el mismo día .
        </p>

        <p>
          Todos los envios nacionales tienen un tiempo de entrega de 5 dias
          habiles contamos con todos los metodos posibles de pago : efectivo
          , debito que se pueden hacer en pagos online en nuestra pagina web .
        </p>

        <p>
          Desde Fmaily Shop apoyamos y colaboramos organicamente de forma activa
          con el rescate y adopcion de animales , es por esto que donamos la
          mayor parte de nuestras ventas mensuales a esta causa . Para nosotros
          es primordial a la integridad y bienestarde de las mascotas y por eso
          te invitamos a subcribirte con con cuota menssual de $3.000 y con ello
          obtener un 5% de descuento en todas tus compras.
        </p>

        <p>Te deseamos la mejor experiencia en nuestra tienda Fmaily Shop.</p>
        
    
    <!-- foto equipo -->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="{% static 'core/images/otro.jpg' %}" class="img-fluid" alt="...">
          <p>Diego Vargas</p>
          <p>+56 9 1234 1234</p>

        </div>
        <div class="col">
          <img src="{% static 'core/images/otro2.jpg' %}" class="img-fluid" alt="...">
          <p>Marcelo Saavedra</p>
          <p>+56 9 2211 1122</p>
        </div>
        <div class="col">
          <img src="{% static 'core/images/otro3.jpg' %}" class="img-fluid" alt="..." height="90px">
          <p>Javiera Leyton</p>
          <p>+56 9 3211 1123</p>
        </div>
        <div class="col">
          <img src="{% static 'core/images/otro4.jpg' %}" class="img-fluid" alt="...">
          <p>Bastian Sepulveda</p>
          <p>+56 9 1234 1234</p>
        </div>
      </div>
    </div>
   
{% endblock content %}
<footer style="background-image: url('core/img/perros.jpg')">
  <div id="menu-inferior">
  </div>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
  crossorigin="anonymous"
></script>
<script src="JS/XML.js"></script>
</body>
</html>